@using WebApp.Helpers;

@{
    ViewBag.Title = "Tipo de Tarjeta";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/form")
}
<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/form")
    <script src="~/Scripts/Views/TipoTarjeta/vCrearTipoTarjeta.js"></script>
}
<!-- Page Content -->
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header"><i class="fa fa-id-card"></i> Crear tipo tarjeta</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmTipoTarjeta">
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre de tipo tarjeta:", columnDataName: "Nombre")
                            @Html.CtrlInput(id: "txtDescuento", type: "number", label: "Descuento que este tipo de tarjeta posee (Porcentaje):", columnDataName: "DiscountPercentage")
                            @Html.CtrlButton(viewName: "vCrearTipoTarjeta", id: "btnCreate", label: "Crear", onClickFunction: "Create", buttonType: "success")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>