@using WebApp.Helpers;

@{
    ViewBag.Title = "Registrar Empresa";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/form")
    <link rel="stylesheet" href="~/Content/views/index.css">
}
<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/form")
    <script src="~/Scripts/Views/Empresa/vRegistroEmpresa.js"></script>
}

<div class="col-md-6">
    <div class="card mb-3">
        <div class="card-header"><i class="fa fa-wpforms"></i> Registar Empresa</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <form id="frmEmpresa">
                            <br /><p class="text-center">
                                Datos de la empresa:
                            </p>
                            <hr class="title-under-line-top"><br />

                            @Html.CtrlComboBox(id: "Empresa", label: "Selecciona el nombre de la empresa", columnDataName: "NombreEmpresa")
                            @Html.CtrlInput(id: "txtCedulaJuridica", type: "number", label: "Cédula Jurídica: ", placeHolder: "Digite la cédula jurídica de la empresa", columnDataName: "CedulaJuridica")
                        </form>

                        <form id="frmPerfilUsuario">
                            <br /><p class="text-center">
                                Datos del encargado de la empresa:
                            </p>
                            <hr class="title-under-line-top"><br />

                            @Html.CtrlInput(id: "txtCorreo", type: "email", label: "Correo electrónico del encargado: ", placeHolder: "me@example.com", columnDataName: "Email")
                            @Html.CtrlInput(id: "txtIdentificacion", type: "text", placeHolder: "x-xxxx-xxxx", label: "Identificación:", columnDataName: "Identificacion")
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre:", placeHolder: "Nombre", columnDataName: "Nombre")
                            @Html.CtrlInput(id: "txtApellidos", type: "text", placeHolder: "Apellidos", label: "Apellidos:", columnDataName: "Apellidos")

                            <div class="row">
                                <div class="col-md-8">@Html.CtrlDatetimePicker(id: "txtFechaNacimiento", format: "YYYY-MM-DD", label: "Fecha de nacimiento:", columnDataName: "FechaNacimiento")</div>
                                <div class="col-md-4">@Html.CtrlInput(id: "txtEdad", type: "number", label: "Edad:", columnDataName: "Edad", onlyread: true)</div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    @Html.CtrlInput(id: "txtNumContacto", type: "text", label: "Teléfono de Contacto: ", placeHolder: "8888 8888", columnDataName: "Telefono")
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">@Html.CtrlInput(id: "txtPassword", type: "password", placeHolder: "Contraseña", label: "Contraseña:", columnDataName: "Password")</div>
                                <div class="col-md-6">@Html.CtrlInput(id: "txtPasswordRep", type: "password", placeHolder: "Contraseña", label: "Repita la Contraseña:", columnDataName: "PasswordRep")</div>
                            </div>
                            <ul>
                                <li>Debe contener al menos 6 caracteres.</li>
                                <li>Debe contener al menos una letra.</li>
                                <li>Debe contener al menos un número.</li>
                                <li>No puede ser igual a las 6 contraseñas anteriores.</li>
                            </ul>
                        </form>

                        @Html.CtrlButton(viewName: "vRegistrarEmpresa", id: "btnRegistrarEmpresa", label: "Registrar", onClickFunction: "Create", buttonType: "btn btn-primary btn-block")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>