@using WebApp.Helpers;

@{
    ViewBag.Title = "Linea";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/form")
}
<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/form")
    <script src="~/Scripts/Views/Linea/vCrearLinea.js"></script>
}
<!-- Page Content -->
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header"><i class="fa fa-exchange"></i>Crear línea</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmLinea">
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre de la línea:", columnDataName: "NombreLinea")
                            @Html.CtrlComboBox(id: "Terminales", label: "Seleccione una terminal")
                            @Html.CtrlInput(id: "txtEspacio", type: "number", label: "Espacios a alquilar:", columnDataName: "EspaciosParqueo")
                            @Html.CtrlComboBox(id: "Empresas", label: "Seleccione una empresa")
                            @Html.CtrlButton(viewName: "vCrearLinea", id: "btnCreate", label: "Crear", onClickFunction: "Create", buttonType: "success")
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

