@using WebApp.Helpers;

@{
    ViewBag.Title = "¿Olvido su contraseña?";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/form")
}
<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/form")
    <script src="~/Scripts/Views/Auth/vForgotPassword.js"></script>
}

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Restablecer contraseña</div>
        <div class="card-body">
            <div class="text-center mt-3 mb-3">
                <h4>¿Olvido su contraseña?</h4>
            </div>
            <form id="frmGetResetToken" class="d-none">
                <p class="text-center">Ingrese su correo electrónico y le enviaremos instrucciones para restablecer su contraseña.</p>
                @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email:", columnDataName: "Email", placeHolder: "Ingrese su correo")
                @Html.CtrlButton(viewName: "vForgotPassword", id: "btnRestablecer", label: "Restablecer", onClickFunction: "Restablecer", buttonType: "primary btn-block")
            </form>
            <form id="frmContrasena" class="d-none">
                <p class="text-center">Ingrese su nueva contraseña para completar el proceso.</p>
                @Html.CtrlInput(id: "txtPassword", type: "password", label: "Contraseña:", columnDataName: "Password")
                @Html.CtrlInput(id: "txtPasswordRep", type: "password", label: "Repita la Contraseña:", columnDataName: "PasswordRep")
                <ul>
                    <li>Debe contener al menos 6 caracteres.</li>
                    <li>Debe contener al menos una letra.</li>
                    <li>Debe contener al menos un numero.</li>
                    <li>No puede ser igual a las 6 contraseñas anteriores.</li>
                </ul>
                @Html.CtrlButton(viewName: "vForgotPassword", id: "btnUpdateContrasena", label: "Restablecer", onClickFunction: "UpdateContrasena", buttonType: "primary btn-block")
            </form>
            <div class="text-center mt-2">
                @Html.ActionLink("Iniciar sesión", "vLogin", "vLogin", new { @class = "d-block small" })
            </div>
            <div class="text-center mt-2">
                <div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
                    <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
                    <span id="alert_message"></span>
                </div>
                <small>Copyright © Eagle Coding 2018</small>
            </div>
        </div>
    </div>
</div>

