@using WebApp.Helpers;

@{
    ViewBag.Title = "Perfil de usuario";
}

<!-- Styles -->
@section Styles {
    @Styles.Render("~/Content/form")
}
<!-- Scripts -->
@section Scripts {
    @Scripts.Render("~/Scripts/form")
    <script src="~/Scripts/Views/Usuario/vVer.js"></script>
}
<!-- Page Content -->
<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header"><i class="fa fa-user"></i> Usuario</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form id="frmPerfilUsuario">
                            @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email:", placeHolder: "me@example.com", columnDataName: "Email", onlyread: true)
                            @Html.CtrlInput(id: "txtIdentificacion", type: "text", placeHolder: "x-xxxx-xxxx", label: "Identificación:", columnDataName: "Identificacion", onlyread: true)
                            @Html.CtrlInput(id: "txtNombre", type: "text", label: "Nombre:", placeHolder: "Nombre", columnDataName: "Nombre", onlyread: true)
                            @Html.CtrlInput(id: "txtApellidos", type: "text", placeHolder: "Apellidos", label: "Apellidos:", columnDataName: "Apellidos", onlyread: true)
                            <div class="row">
                                <div class="col-md-8">@Html.CtrlDatetimePicker(id: "txtFechaNacimiento", format: "YYYY-MM-DD", label: "Fecha de nacimiento:", columnDataName: "FechaNacimiento", onlyread: true)</div>
                                <div class="col-md-4">@Html.CtrlInput(id: "txtEdad", type: "number", label: "Edad:", columnDataName: "Edad", onlyread: true)</div>
                            </div>
                            @Html.CtrlComboBox(id: "cbRole", label: "Role:", columnDataName: "RoleId", onlyread: true)
                            @Html.CtrlComboBox(id: "cbTerminal", label: "Terminal principal:", columnDataName: "TerminalId", onlyread: true)
                            <div class="row">
                                <div class="col-md-8">@Html.CtrlInput(id: "txtSmsNotificationsMin", type: "number", placeHolder: "CRC", label: "Mínimo de notificación (CRC):", columnDataName: "SmsNotificationsMin", onlyread: true)</div>
                                <div class="col-md-4">@Html.CtrlInput(id: "txtTelefono", type: "number", placeHolder: "88888888", label: "Teléfono:", columnDataName: "Telefono", onlyread: true)</div>
                            </div>
                            @Html.CtrlComboBox(id: "cbEstado", label: "Estado:", columnDataName: "Estado", onlyread: true)
                            @Html.CtrlDatetimePicker(id: "txtPasswordExpiration", format: "YYYY-MM-DD", label: "Fecha de expiración de contraseña:", columnDataName: "PasswordExpiration", onlyread: true)
                            @Html.ActionLink("Modificar", "vModificar", "Usuario", new { @class = "btn btn-success" })
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>